
aws-lambda-powertools>=3.19.0
beautifulsoup4>=4.13.5
fastapi>=0.116.1
openai>=1.104.2
pip>=25.2
pydantic>=2.11.7
pydantic-settings>=2.10.1
pymongo>=4.14.1
pyyaml>=6.0.2
qdrant-client>=1.15.1
rouge-score>=0.1.2
selenium>=4.35.0
sentence-transformers>=5.1.0
spacy>=3.8.7
streamlit>=1.49.1
structlog>=25.4.0
uvicorn>=0.35.0